<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:property name="tf_prefix" value="cam_mount/"/>

  <xacro:property name="z_rot" value="-1.57079"/>

  <xacro:macro name="camera_mount" params="tf_prefix">

    <link name="${tf_prefix}cam_mount_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.000001" ixy="0" ixz="0"
                 iyy="0.000001" iyz="0"
                 izz="0.000001"/>
      </inertial>

      <visual name="cam_mount_visual">
        <origin xyz="0.0 0.0 0.0215" rpy="0.0 0.0 ${z_rot}"/>
        <geometry>
          <mesh filename="package://aic_assets/models/Camera Mount/cam_mount_visual.glb"/>
        </geometry>
      </visual>

      <!-- TODO(anyone): Update the camera mount visual to have arms at [-60, 0, +60].
           The repeated camera mount is just a placeholder, and it adds "extra" arms
           arms that we are not currently using, since we have 3 cameras, not 6. -->
      <visual name="cam_mount_visual_repeated">
        <origin xyz="0.0 0.0 0.0215" rpy="0.0 0.0 ${z_rot + 3.1415926}"/>
        <geometry>
          <mesh filename="package://aic_assets/models/Camera Mount/cam_mount_visual.glb"/>
        </geometry>
      </visual>

      <collision name="cam_mount_collider_cylinder">
        <origin xyz="0.0 0.0 0.0215" rpy="0.0 0.0 ${z_rot}"/>
        <geometry>
          <cylinder radius="0.06" length="0.01"/>
        </geometry>
      </collision>

      <collision name="cam_mount_collider_cylinder.001">
        <origin xyz="0.0 0.0 0.012638" rpy="0.0 0.0 ${z_rot}"/>
        <geometry>
          <cylinder radius="0.030383" length="0.025275"/>
        </geometry>
      </collision>

      <!-- TODO(anyone): Update the colliders to match the [-60, 0, +60] cameras. -->
      <collision name="cam_mount003_collider_box">
        <origin xyz="0.068974 0.000189 0.02" rpy="0.0 0.0 ${z_rot}"/>
        <geometry>
          <box size="0.055675 0.027622 0.003"/>
        </geometry>
      </collision>

      <collision name="cam_mount003_collider_box.001">
        <origin xyz="0.096142 0.000189 0.021981" rpy="0.0 1.308997 ${z_rot}"/>
        <geometry>
          <box size="0.035256 0.027622 0.003"/>
        </geometry>
      </collision>

      <collision name="cam_mount003_collider_box.002">
        <origin xyz="-0.034323 -0.059827 0.02" rpy="0.0 0.0 ${z_rot - 2.094395}"/>
        <geometry>
          <box size="0.055675 0.027622 0.003"/>
        </geometry>
      </collision>

      <collision name="cam_mount003_collider_box.003">
        <origin xyz="-0.047908 -0.083356 0.021981" rpy="0.0 1.308997 ${z_rot - 2.094395}"/>
        <geometry>
          <box size="0.035256 0.027622 0.003"/>
        </geometry>
      </collision>

      <collision name="cam_mount003_collider_box.004">
        <origin xyz="-0.03465 0.059639 0.02" rpy="0.0 0.0 ${z_rot - 4.18879}"/>
        <geometry>
          <box size="0.055675 0.027622 0.003"/>
        </geometry>
      </collision>

      <collision name="cam_mount003_collider_box.005">
        <origin xyz="-0.048235 0.083167 0.021981" rpy="0.0 1.308997 ${z_rot - 4.18879}"/>
        <geometry>
          <box size="0.035256 0.027622 0.003"/>
        </geometry>
      </collision>

    </link>

  </xacro:macro>

</robot>